h1 {
    padding-bottom: 40px;
}

.aboutuspage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutustext {
    border-radius: 24px;
    border: #0066BC 2px solid;
    background-color: white;
    width: 354px;
}

.textwlogo h2 {
    font-family: 'Roboto serif';
    padding: 15px;
    font-size: 20px;
}

.museumimg img {
    width: auto;
    border-radius: 22px 22px 0px 0px;
    max-width: 354px;
}

#aboutlogo {
    text-align: center;

}

#museum {
    border-radius: 24px 24px 0px 0px;
    border-bottom: #0066BC 2px solid;
}


.aboutustext p {
    padding: 15px 15px 5px 15px;
    font-size: 14px;
}



.backbutton{
    padding: 70px;
}

@media (min-width: 1000px) {
    .contact-info {
        padding: 100px;
        font-size: 17px;
        flex-direction: column;
    }

    .aboutustext {
        display: flex;
        flex-direction: row;
        width: 900px;
    }

    .museumimg {
        padding: 50px;
    }

    .museumimg img {
        border: none;
    }

    #museum {
        display: none;

    }

    .museumimg img {
        display: flex;
        border-radius: 22px;
        margin-top: 40px;
        width: auto;
    }


    .textwlogo {
        margin-top: 20px;
    }

    .backbutton{
        padding: 20px;
    }

}