.bookatour{
    width: auto;
    margin: 50px;
    padding: 15px;
    border-radius: 24px;
    background-color: white;
    border: #0066BC solid 2px;
}

.bookatour h2{
    font-family: 'Roboto serif', sans-serif;
    font-size: 20px;
    padding-bottom: 15px;
}

#booklogo{
    text-align: center;

}

.form2 {

    border-radius: 24px;
    border: #0066BC 2px solid;
    width: 280px;
    height: 400px;
    padding: 40px;
    background-color: white;
    margin: 50px 0px;
    justify-content: center;
    align-items: center;


  
  }
  
  .form2 h3 {
    color: #0066BC;
    align-items: center;
    font-family: 'Racing Sans One';
    font-size: 25px;
    text-align: center;
  }
  
  .form2 input{
    font-family: 'nunito sans', sans-serif;
    font-size: 15px;
    margin: 15px 0px 0px 0px;
  }


.chooseinfo{
    padding-top: 30px;
}

#datetime label{
    padding-top: 400px;
    font-family: 'nunito sans';
}

.number{
    padding-bottom: 20px;
}

.submitbutton{
    text-align: center;
    padding-top: 35px;
}