
.inthispage{
    display: flex;
    margin: 20px 0px;
    
}

.anchor{
    display: flex;
    flex-direction: column;
    background-color: #d2fcf1;
    margin-bottom: 4px;
    padding: 10px;
}

.anchor h2{
    font-family: 'Roboto Serif', sans-serif;
}

.anchor a{
    text-decoration: none;
    color: black;
    font-family: 'Nunito Sans', sans-serif;
    cursor: pointer;
}

.anchor a:hover{
    font-style: italic;
    font-weight: bolder;
    color:rgba(0, 102, 188, 1);
}

.exhibitionflex{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
justify-content: space-around;
border-radius: 22px;

}

.exhibitioninfo{
    height: auto;
    width: 350px;
    border-radius: 22px;
    margin: 30px;
    text-align: justify;
   border:  3px solid rgba(0, 102, 188, 1);
   background-color: white;
   

}

.exhibitioninfo p{
    padding: 5px;
    margin: 15px;
}

.exhibitioninfo img{
    width: 350px;
    border-radius: 22px 22px 0px 0px;
    border-bottom:  3px solid rgba(0, 102, 188, 1);


}
.exhibitionh3{
    text-align: center;
    font-family: 'Racing sans one', sans-serif;
    padding: 5px;
    font-size: 25px;
}

#logo{
width:auto;
border: none;

}

@media (min-width: 1000px) {

.exhibitioninfo{
    width: 400px;
}

.exhibitioninfo img{
    width: 400px;
}

.inthispage,
.anchor{
    display: none;
}
}