.exhibitioninfo {
    height: auto;
    width: 360px;
    border-radius: 22px;
    margin: 30px;
    text-align: start;
    border: 1px solid rgba(0, 102, 188, 1);
    background-color: white;


}

.exhibitioninfo1 {
    height: auto;
    min-width: 360px;
    width: 360px;
    border-radius: 22px;
    margin: 30px;
    border: 1px solid rgba(0, 102, 188, 1);
    background-color: white;
    padding-top: 40px;
    font-family: 'Nunito sans', sans-serif;

}

.exhibitioninfo1 p {
    text-align: left;
}

.exhibitioninfo1 h3 {
    padding-top: 40px;
    font-size: 25px;
}

.exhibitioninfo p,
.exhibitioninfo1 p {
    padding: 5px;
    margin: 15px;
}

.exhibitioninfo img {
    min-width: 360px;
    border-radius: 22px 22px 0px 0px;
    border-bottom: 1px solid rgba(0, 102, 188, 1);
    object-fit: cover;
}

.exhibitionh3 {
    text-align: center;
    font-family: 'Racing sans one', sans-serif;
    padding: 5px;
    font-size: 25px;
    color: #0066BC;
    padding-top: 10px 0px 10px 0px;
    
}

.exhibitionh3{
    padding: 10px 0px 10px 0px;
}



@media (min-width: 1000px) {

    .exhibitioninfo,
    .exhibitioninfo1 {
        width: 400px;
    }

    .exhibitioninfo img {
        width: 400px;
    }

}