.banner_section {
  background-image: url("/images/indexheadermobile.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 35vw;
  position: relative;
  text-align: center;
  padding-top: 100px;
  margin-top: 10px;
  display: flex;
  margin-bottom: 200px;
  
}

.banner_content {
  position: absolute;
  top: 10%;
  transform: translateY(-50%);
  margin: 30px auto;
  right: 80%;
  left: 0;
}
.welcome {
  text-align: center;
  color: #0066BC;
}

.exploretogether{
  height: 75px;
  width: 75px;
  background-color: rgba(251, 119, 106, 0.85);
  opacity: 99%;
  border-radius: 50%;
  margin-left: 15px;
}

.exploretogether h2{
  padding-top: 25px;
   font-family: 'Roboto Serif', sans-serif;
   color: #000;
   font-size: 11px;
   font-style: italic;
   font-weight: bolder;
} 
.explore {
  text-align: center;
  justify-items: center;
  color: #0066BC;
}
.explore h1 {
  font-size: 40px;
}
  .container_age14{
    color: black;
    background-color: #90F9DD;
    padding: 15px 40px;
    text-align: center;
    position: absolute;
    top:100%;

  }
  
  .container_age14 h2{
    padding-bottom: 10px;
    font-size: 15px;
    font-family: 'Roboto Serif';
  }

  .container_age14 p{
    font-size: 12px;
    font-family: 'nunito sans';
  }

  .explore{
    margin: 40px;
    color: #0066BC;
  }

  .for_section{
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    justify-content: space-around;
    margin-bottom: 50px;
  }

  .dropdown {
    position: relative;
    display: inline-block;
    align-items: center;
    padding: 60px;
    
  }
  
  .dropdown_content {
    display: none;
    position: absolute;
    color: #FFF;   
    border-radius: 0px 0px 24px 24px;
    z-index: 1;
    overflow: auto;
    text-align: center;
    width: 243px;
  }
  
  .dropdown:hover  .dropdown_content {
    display: block;
  }

  .forkids,
  .forteachers,
  .forresearchers{
      position: relative;
      text-align: center;
      margin-bottom: 20px;
    }

    .forkids img,
    .forteachers img,
    .forresearchers img{
      width: 243px;
    }

    .forkids h1,
    .forteachers h1,
    .forresearchers h1{
       position: absolute;
       flex-direction: block;
       top: 10%;
       left: 0;
       right: 0;
       color: white;
       text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
       padding-top: 40px;
    }

    .forresearchers h1{
      font-size: 25px;
      text-shadow: 0 0 3px green, 0 0 5px yellow;

    }

    .forkids p,
    .forteachers p,
    .forresearchers p {
       padding: 0px 20px 20px 20px;
    }

    .forkids p{
      background-color: #8661C1;
     
    }

    .forteachers p{
      background-color: #4084E5;
    }

    .forresearchers p{
      background-color: #3F784C;
    }

    .forkids button,
    .forteachers button,
    .forresearchers button{
      font-size: 25px;
      
    }


    .forkids button{
     background-color: #8661C1;
    }

    .forteachers button{
      background-color: #4084E5;
    }

    .forresearchers button{
      background-color: #3F784C;
    }

 

    .readmore_button{
      position:absolute;
      top: 90%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      border: none;
      color: white;
      padding: 24px;
      text-align: center;
      text-decoration: none;
      font-size: 18px;
      cursor: pointer;
    width: 243px;
  flex-shrink: 0;
    text-align: center;
    font-family: 'Racing Sans One';
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    border-radius: 0px 0px 24px 24px;
    }
   
.special, .showings{
  color:#0066BC;
  text-align: center;
  margin: 30px;
}
.showings{
  font-family: 'Roboto Serif';
  color: #0066BC;
}
.showingsmobile{
  font-family: 'Roboto Serif';
  color: #0066BC;
}
.special_events{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
}



.special_event1, 
.special_event2, 
.special_event3{
background-color: rgba(245, 245, 245, 1);
border-radius: 22px;
border: 1px solid #0066BC;
width: 360px;
height: auto;
margin-bottom: 50px;
padding-bottom: 20px;

}

.special_event1 img, 
.special_event2 img, 
.special_event3 img{
  width: 360px;
}

.special_event1 h2, 
.special_event2 h2,
.special_event3 h2{
  font-size: 18px; 
  font-family: 'Racing Sans One', sans-serif;
  text-align: center;
  padding-top: 10px;
}

.special_event1 p, 
.special_event2 p, 
.special_event3 p{
  padding: 20px 25px;
  font-size: 12px;
}

.backbutton_mobile{
  background-color: rgba(0, 102, 188, 1);
  background-color: Transparent;
  border: none;
  font-size: 14px;
  font-family: 'Racing Sans One';
}

.backbutton_mobile:hover{
  cursor: pointer;
}

@media (min-width: 1000px) {
  .welcome {
    text-align: center;
    color: #0066BC;
    font-size: 56px;
    margin-bottom: 20px;
  }
  .explore h1{ 
    font-size: 68px;
  }
  
  .exploretogether {
    height: 150px;
    width: 150px;
  }
  .exploretogether h2 {
    padding-top: 45px;
    font-size: 18px;
    
  }
  .container_age14{
    color: black;
    background-color: #90F9DD;
    text-align: center;
    width: 200px;
height: 250px;
border-radius: 50%;
top:45%;
opacity: 81%;

  }
  
  .container_age14 h2{
    padding-bottom: 10px;
    font-size: 18px;
    font-family: 'Roboto Serif';
    padding-top: 60px;

  }

  .container_age14 p{
    font-size: 12px;
    font-family: 'Nunito Sans';
  }

  .for_section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    }

    
    .forteachers img,
    .forkids img,
    .forresearchers img{
      width: 343px;
    }

    .forkids h1,
    .forteachers h1,
    .forresearchers h1{
       position: absolute;
       flex-direction: block;
       top: 10%;
       left: 0;
       right: 0;
       color: white;
    }

    .forresearchers h1{
      font-size: 25px;
    }

    .readmore_button{
      width: 343px;
      top: 100%;
      left: 50%;
      height: 59px;

    
    }
  
    .forkids h1,
    .forteachers h1,
    .forresearchers h1{
      font-size: 40px;
    }

    .forresearchers h1{
      font-size: 35px;
    }

   .special_events{
    flex-direction: row;
    justify-content: space-evenly;
    
   }

   .showings{
    display: flex;
    justify-content: space-evenly;
    
   }

   .coming{
   text-align: end;
   justify-items: end;
   left: 50%;
   }

   .special_event1, 
.special_event2, 
.special_event3{
  height: 450px;
}



.showingsdesktop{
  display: flex;
  
}

.showingrightnow{
  justify-content: flex-start;
  margin-left: 50px;
  color: red;
  
}
}