.banner_section {
  background-image: url("/images/indexheadermobile.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 35vw;
  position: relative;
  text-align: center;
  padding-top: 100px;
  margin-top: 10px;
}

.banner_content {
  position: absolute;
  top: 10%;
  transform: translateY(-50%);
  margin: 30px auto;
  right: 80%;
  left: 0;
}

  .explore h1{
    text-align: center;
    color: #0066BC;
  }

  .container_age14{
    color: black;
    background-color: #90F9DD;
    padding: 15px 40px;
    text-align: center;
  }
  
  .container_age14 h2{
    padding-bottom: 10px;
    font-size: 12px;
  }

  .container_age14 p{
    font-size: 12px;
  }

  .explore{
    margin: 40px;
    color: #0066BC;
  }

  .for_section{
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
  }

  .forkids{
      position: relative;
      text-align: center;
    }

    .forkids h1{
       position: absolute;
       flex-direction: block;
       top: 10%;
       left: 0;
       right: 0;
       color: white;
    }

    .forkids button{
     background-color: #8661C1;
    }
 

    .readmore_button{
      position:absolute;
      top: 90%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      border: none;
      color: white;
      padding: 20px;
      text-align: center;
      text-decoration: none;
      font-size: 18px;
      cursor: pointer;
    width: 243px;
  flex-shrink: 0;
    text-align: center;
    font-family: 'Racing Sans One';
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    border-radius: 0px 0px 24px 24px;
    
    }
   
.special, .showings{
  color:#0066BC;
  text-align: center;
  margin: 30px;
}
.showings{
  font-family: roboto mono;
  color: #0066BC;
}

.special_events{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.special_event1, 
.special_event2, 
.special_event3{
background-color: rgba(245, 245, 245, 1);
border-radius: 22px;
border: 1px solid #90F9DD;
width: 360px;
height: auto;
margin-bottom: 50px;


}

.special_event1 h2, 
.special_event2 h2,
.special_event3 h2{
  font-size: 18px; 
  font-family: 'Racing Sans One', sans-serif;
  text-align: center;
  padding-top: 10px;
}

.special_event1 p, 
.special_event2 p, 
.special_event3 p{
  padding: 20px 25px;
  font-size: 12px;
}

.backbutton_mobile{
  background-color: rgba(0, 102, 188, 1);
  background-color: Transparent;
  border: none;
}

.backbutton_mobile:hover{
  cursor: pointer;
}

-------footer------>

.blue_line{
  display: flex;
  flex-direction: row;
  background-color: #0066BC;
  padding: 10px 10px;

}

.some{
  color: white;
  font-size:large;
  padding-left: 10x;
}

.some:hover{
  cursor: pointer;
}

.freeadmission{
  margin-right: 0;
  margin-left: auto;
  padding-right: 5px;
  color: white;
  font-size: 12px;

}

.extra_footer{
  background-color: rgba(245, 245, 245, 1);
  display: flex;
  padding-top: 10px;
  padding-bottom: 20px;
}

.extra_footer h3{
  font-family: 'roboto serif';
  padding-bottom: 5px;
}

.extra_footer p{
  font-family: 'nunito sans';
  font-size: 12px;
}

.hours_mobile{
  padding-left: 20px;
}
.getintouch_mobile{
  margin-right:0;
  margin-left: auto;
  padding-right: 20px;
}

.fa-solid,
.fa-regular{
  padding-right: 10px;
}

.getintouch_mobile p{
  padding-bottom: 10px;
}

