.banner_section {

  background-image: url("/images/indexheadermobile.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 35vw;
  position: relative;
  text-align: center;
  padding-top: 100px;
  margin-top: 10px;
  display: flex;
  margin-bottom: 200px;
  
}

.banner_content {
  position: absolute;
  top: 10%;
  transform: translateY(-50%);
  margin: 30px auto;
  right: 80%;
  left: 0;
}


.exploretogether{
  height: 75px;
  width: 75px;
  background-color: rgba(251, 119, 106, 0.85);
  opacity: 99%;
  border-radius: 50%;
  margin-left: 15px;
}

.exploretogether h2{
  padding-top: 25px;
   font-family: 'Roboto Serif', sans-serif;
   color: #000;
   font-size: 11px;
   font-style: italic;
   font-weight: bolder;
} 
.explore {
  text-align: center;
  justify-items: center;
  color: #0066BC;
}
.explore h1 {
  font-size: 40px;
}
  .container_age14{
    color: black;
    background-color: #90F9DD;
    padding: 15px 40px;
    text-align: center;
    position: absolute;
    top:100%;

  }
  
  .container_age14 h2{
    padding-bottom: 10px;
    font-size: 15px;
    font-family: 'Roboto Serif';
  }

  .container_age14 p{
    font-size: 12px;
    font-family: 'nunito sans';
  }

  .explore{
    margin: 40px;
    color: #0066BC;
  }

 
.card1,
.card2,
.card3{
  color: #ffffff;
  width: 343px;
  line-height: 1.8;
  border-radius: 0px 0px 24px 24px;
  padding-bottom: 10px;
  top: 50%;
  bottom: 50%;
  transform: translate(-0%, -2%);
  margin-bottom: 50px;

}
.card1{
  background-color: #8661C1;
  
}
.card2{
  background-color: #4084E5;

}

.card3{
  background-color: #3F784C;
}
.forkids,
.forteachers,
.forresearchers{
  display:flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  align-items: center;
}


.buttonforkids1,
.buttonforkids2{
  font-size: 30px;
  font-family: Racing Sans One;
  align-items: center;
  cursor: pointer;
  size: 243px;
}


#ch1,
#ch2,
#ch3 {
  display: none;
  font-family: Racing Sans One;
  
}


#ch1:checked ~ .content1,
#ch2:checked ~ .content2,
#ch3:checked ~ .content3 {
 display: block;
}

#ch1:checked ~ .buttonforkids2,
#ch2:checked ~ .buttonforkids2,
#ch3:checked ~ .buttonforkids2{
  display: none;
}


label #ch1,
label #ch2,
label #ch3{
  background-color: black;
  display: inline-block;
  cursor: pointer;
  color: #FFF;

}

.content1,
.content2,
.content3{
  display: none;
  padding: 10px 20px;
}



.for_section{
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  justify-content: space-around;
  margin-bottom: 50px;
}



  .forkids img,
  .forteachers img,
  .forresearchers img{
    width: 343px;
  }

  .forkids h1,
  .forteachers h1,
  .forresearchers h1{
     position: absolute;
     flex-direction: block;
     top: 10%;
     left: 0;
     right: 0;
     color: white;
     text-shadow: 0 0 10px black, 0 0 6px #0000FF;
  }

  .forresearchers h1{
    font-size: 25px;
    text-shadow: 0 0 10px black, 0 0 6px yellow;

  }

 
.special, .showings{
  color:#0066BC;
  text-align: center;
  margin: 30px;
}
.showings{
  font-family: 'Roboto Serif';
  color: #0066BC;
}
.showingsmobile{
  font-family: 'Roboto Serif';
  color: #0066BC;
}
.special_events{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
}



.special_event1, 
.special_event2, 
.special_event3{
background-color: rgba(245, 245, 245, 1);
border-radius: 24px;
border: 2px solid #0066BC;
width: 360px;
height: auto;
margin-bottom: 50px;
padding-bottom: 20px;

}

.special_event1 img, 
.special_event2 img, 
.special_event3 img{
  width: 360px;
}

.special_event1 h2, 
.special_event2 h2,
.special_event3 h2{
  font-size: 18px; 
  font-family: 'Racing Sans One', sans-serif;
  text-align: center;
  padding-top: 10px;
}

.special_event1 p, 
.special_event2 p, 
.special_event3 p{
  padding: 20px 25px;
  font-size: 12px;
}


@media (min-width: 1000px) {
 
  .explore h1{ 
    font-size: 68px;
  }

  .exploretogether {
    height: 150px;
    width: 150px;
  }
  .exploretogether h2 {
    padding-top: 45px;
    font-size: 18px;
    
  }
  .container_age14{
    color: black;
    background-color: #90F9DD;
    text-align: center;
    width: 200px;
height: 250px;
border-radius: 50%;
top:45%;
opacity: 81%;

  }
  
  .container_age14 h2{
    padding-bottom: 10px;
    font-size: 18px;
    font-family: 'Roboto Serif';
    padding-top: 60px;

  }

  .container_age14 p{
    font-size: 12px;
    font-family: 'Nunito Sans';
  }

  .for_section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    }

    
    .forteachers img,
    .forkids img,
    .forresearchers img{
      width: 343px;
    }

    .buttonforkids{
      width: 343px;
      font-weight: bolder;
      
    }

    .card1,
    .card2,
    .card3{
      width: 343px;
    }

    .forkids h1,
    .forteachers h1,
    .forresearchers h1{
       position: absolute;
       flex-direction: block;
       top: 10%;
       left: 0;
       right: 0;
       color: white;
    }

    .forresearchers h1{
      font-size: 25px;
    }

    .forkids h1,
    .forteachers h1{
      font-size: 40px;
    }

    .forresearchers h1{
      font-size: 35px;
    }

   .special_events{
    flex-direction: row;
    justify-content: space-around;
    
   }

   .special_event1, 
.special_event2, 
.special_event3{
  height: 500px;
  width: 600px;
  border-radius: 35px;
  
}


.special_event1 img, 
.special_event2 img, 
.special_event3 img{
 
  width: 600px;
  height: auto;
  
}

.showingsdesktop{
  display: flex;
  
}

.showingrightnow{
  justify-content: flex-start;
  margin-left: 50px;
}

}