* {
    margin: 0;
    padding: 0;
  }
  
  .sr-only{
    position: absolute;
width: 1px;
height: 1px;
padding: 0;
margin: -1px;
overflow: hidden;
clip: rect(0, 0, 0, 0);
white-space: nowrap;
border-width: 0;

  }
  .header-logo{
    padding: 25px 15px;
    width: 163px;   
  }
  nav {
    background-color: #0066BC;
  }
  
  nav a {
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    font-family: 'Racing Sans One', sans-serif;
  }

  nav a:hover{
    color: #90F9DD;
  }
  
  nav li {
    display: block;
  }
  
  nav,
  #hamburger-menu {
    display: none;
  }
  
  #hamburger-menu:checked ~ nav {
    display: block;
  }
  
  .nav-content {
    
    display: block;
    padding: 40px, 20px;
    background: #0066BC;
    text-align: center;
    z-index: 1;
    position:relative;
  }

  ul li:hover {
    background: rgba(0, 102, 188, 1);
    
  }
  
  
  .hamburger-label {
    float: right;
    color: #0066BC;
    padding: 34px;
    display: flex;
    gap: 10px;
    padding-top: 40px;
    font-size: 25px;
    
  }
  
  .hamburger-label:hover {
   cursor: pointer;
  }

  body{
    background-color: #f3fefb;
  }
  

  .header {
    text-align: center;
    color: #0066BC;
  }
 h1{
    font-family: 'Racing Sans One', sans-serif;

 }

 p{
    font-family: 'Nunito Sans', sans-serif;
 }
 .backbutton_mobile{
  color: rgba(0, 102, 188, 1);
  background-color: Transparent;
  border: none;
  font-size: 14px;
  font-family: 'Racing Sans One';
  text-decoration: none;

}

.backbutton{
  text-align: center;
  cursor: pointer;
}

.backbutton i{
padding-left: 5px;
}
 .blue_line{
  display: flex;
  margin-top: 50px;
  padding: 10px;
  background-color: #0066BC;
 }

 .admission,
 .visitus,
 .getintouch{
  display: none;
 }

 .blue_line{
  display: flex;
  flex-direction: row;
  background-color: #0066BC;
  padding: 10px 10px;

}

.some{
  color: white;
  font-size:large;
  padding-left: 10x;
}

.some:hover{
  cursor: pointer;
}
.somedesktop{
  display: none;
}
.freeadmission{
  margin-right: 0;
  margin-left: auto;
  padding-right: 5px;
  color: white;
  font-size: 11px;

}

.extra_footer{
  background-color: rgba(245, 245, 245, 1);
  display: flex;
  padding-top: 10px;
  padding-bottom: 20px;
}

.extra_footer h3{
  font-family: 'roboto serif', sans-serif;
  padding-bottom: 5px;
}

.extra_footer p{
  font-family: 'nunito sans', sans-serif;
  font-size: 12px;
}

.hours_mobile{
  padding-left: 20px;
}
.getintouch_mobile{
  margin-right:0;
  margin-left: auto;
  padding-right: 20px;
  text-decoration: none;
}

.fa-solid,
.fa-regular{
  padding-right: 10px;
  color: #0066BC;
}

.getintouch_mobile p{
  padding-bottom: 10px;
}


 @media (min-width: 1000px) {
  .header_text {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-right: 50px;
  }

  .header-logo{
    padding: 25px;
    width: 306px; 
  }  

  nav {
    display: flex;
    align-items: center;
    background:  #f3fefb; 
  }

  nav a:hover{
    color: white;
  }

  nav li:hover{
    opacity: 0.8;
    border-radius: 30px;
  }

  nav a {
    color:#0066BC;
    text-transform: uppercase;
    cursor: pointer;
    font-family: 'Roboto Serif', sans-serif;
    font-size: large;
  
  }

  .nav-content {
    display: flex;
    flex-direction: row;
    background: none;
    position: relative;
    cursor: pointer;
    float: right;
    
  }
  .header {
    text-align: center;
    color: #0066BC;
    font-size: 56px;
    margin-bottom: 20px;
  }
 .admission,
 .visitus,
 .getintouch,
 .hours_mobile{
  display: flex;
  flex-direction: column;

  overflow: hidden;
  margin: 10px;
  padding: 15px 60px 10px 60px; 
 }

 .admission,
 .visitus,
 .hours_mobile{
  border-right: 1px solid black;

 }

 .admission h3,
 .visitus h3,
 .getintouch h3,
 .hours_mobile h3{
  font-size: 20px;
  padding-bottom: 20px;
 }

 .admission p,
 .visitus p,
 .getintouch p,
 .hours_mobile p{
  font-size: 15px;
  padding-bottom: 3px;
 }
 
 
 .freeadmission,
 .display,
 .getintouch_mobile,
 .hamburger-label,
 .some{
  display: none;
 }

 .blue_line{
  margin-top: 100px;
  padding: 10px;
 }

.somedesktop {
  display: inline;
  color: #0066BC;
  font-size: 18px;

}

.extra_footer{
  height: 200px;
}

 }