* {
    margin: 0;
    padding: 0;
  }
  
  .header_logo{
    width: 100px;
    
  }
  nav {
    background-color: #0066BC;
  }
  
  nav a {
    display: block;
    padding: 10px 20px;
    color: rgba(0, 102, 188, 1);
    text-decoration: none;
    font-family: 'Racing Sans One';
  }

  nav a:hover{
    color: white;
  }
  
  nav li {
    display: block;
  }
  
  nav,
  #hamburger-menu {
    display: none;
  }
  
  #hamburger-menu:checked ~ nav {
    display: block;
  }
  
  .nav-content {
    
    display: block;
    padding: 40px, 20px;
    background: #90F9DD;
    text-align: center;
    z-index: 1;
    position:relative;
  }

  ul li:hover {
    background: rgba(0, 102, 188, 1);
    
  }
  
  
  .hamburger-label {
    float: right;
    color: #0066BC;
    padding: 34px;
    display: flex;
    gap: 10px;
    padding-top: 40px;
    font-size: 25px;
    
  }
  
  .hamburger-label:hover {
   cursor: pointer;
  }

  body{
    background-color: #FFFFFF;
  }
  
 h1{
    font-family: 'Racing Sans One', sans-serif;

 }

 p{
    font-family: 'Nunito Sans', sans-serif;
 }

 @media (min-width: 720px) {
  .header_text {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }

  nav {
    display: flex;
    align-items: center;
    background: white; 
  }

  nav li:hover{
    opacity: 0.8;
    border-radius: 30px;
  }

  nav a {
    color:#0066BC;
    text-transform: uppercase;
    cursor: pointer;
    font-family: 'Roboto Serif', sans-serif;
    font-size: large;
  
  }

  .nav-content {
    display: flex;
    flex-direction: row;
    background: none;
    position: relative;
    cursor: pointer;
    float: right;
    
  }

  .hamburger-label {
    display: none;
  }
 }