.info-box{
    background-color: #F5F5F5;
    border-color: #0066BC;
    border-radius: 24px;
    border: 2px solid #0066BC;
    padding: 20px;
    margin: 30px;
}

#hours,
#admission,
#location,
#accessibility,
#foodanddrinks{
 border-bottom: 1px solid black;
}

#hours,
#admission,
#location,
#accessibility,
#foodanddrinks,
#shop{
   padding: 20px 10px 20px; 
}

#hours h3,
#admission h3,
#location h3,
#accessibility h3,
#foodanddrinks h3,
#shop h3{
    padding-bottom: 20px;
}

.book-btn{
    background-color: #4084E5;
    color: white;
    border-radius: 24px;
    padding: 5px 14px;
    cursor: pointer;
    border:none;
    margin-top: 20px;
    font-family: 'Nunito Sans';
}

.book-btn:hover{
 box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}